<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/nn-mux.js"></script>
    <script src="demo.js"></script>
</head>
<body ng-app="demo" ng-controller="nnMuxDemoCtrl">
<input type="text" ng-model="model.frequency"/> {{model.frequency}}
</body>
</html>